---
layout: layouts/base.njk
title: Splash
---

<div class="splash">
    <div role="img" class="star-scatter stars-animating" aria-label="A scattering of sparkles">
        <img alt="" class="star" src="{{ site.url }}/assets/images/star01.svg">
        <img alt="" class="star" src="{{ site.url }}/assets/images/star02.svg">
        <img alt="" class="star" src="{{ site.url }}/assets/images/star03.svg">
        <img alt="" class="star" src="{{ site.url }}/assets/images/star04.svg">
        <img alt="" class="star" src="{{ site.url }}/assets/images/star05.svg">
    </div>
    <div class="menu-container">
        <menu>
            <ul>
                {# <li>
                    <a class="ats-button-large sound" id="sound-on" href="{{ site.url }}/welcome">
                        Enter<br>
                        with<br>
                        sound
                    </a>
                </li> #}
                <li>
                    <a class="ats-button-large simple" id="no-sound" href="{{ site.url }}/welcome">
                        {# <span class="sound-icon">
                            <div class="slash"></div>
                            ♫
                        </span> #}
                        <img class="star small" src="/assets/images/star20.svg"/></span>
                        <span class="star-text">Enter</span>
                        <span class="stars-animating"><img class="star small" src="/assets/images/star22.svg"/>
                    </a>
                </li>
            </ul>
        </menu>
    </div>
</div>