---
layout: layouts/base.njk
title: Splash
---

<div class="splash">
<div class="menu-container">
    
    <menu>
        <li>
            <a class="ats-button-large sound" id="sound-on" href="welcome">
                <span class="sound-icon">♫</span>
                Enter<br>
                with<br>
                sound
            </a>
        </li>
        <li>
            <a class="ats-button-large no-sound" id="no-sound" href="welcome">
                <span class="sound-icon">
                    <div class="slash"></div>
                    ♫
                </span>
                Enter<br>
                * without *<br>
                sound
            </a>
        </li>
    </menu>

</div>
</div>