:root {
  --black: #000;
  --light-grey: rgba(0,0,0,0.25);
  --grey: rgb(228, 228, 228);
  --yellow: #FEFFBB;
  --light-yellow: rgba(254, 255, 194, 0.5);
}

@font-face {
  font-family: 'Century Expanded';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/century_expanded_lt_w03_roman-webfont.woff2) format('woff2'), url(../fonts/century_expanded_lt_w03_roman-webfont.woff) format('woff');
}

@font-face {
  font-family: 'Century Expanded';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/century_expanded_lt_w03_italic-webfont.woff2) format('woff2'), url(../fonts/century_expanded_lt_w03_italic-webfont.woff) format('woff');
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Century Expanded';
  font-size: 24px;
  line-height: 1.35;
  background: var(--yellow);
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
}

b, strong {
  font-family: 'Century Expanded';
  font-weight: normal;
}

i, em {
  font-family: 'Century Expanded';
  font-style: italic;
}

p {
  margin: 1rem 0;
}

img {
  max-width: 100%;
}

button {
  line-height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol li {
  list-style-type: decimal;
}

a {
  text-decoration: none;
  color: var(--black);
}

main {
  width: 100%;
  min-height: 100%;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; */
}

header.title {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-bottom: 1em;
  background: var(--yellow);
}

header.title h1 {
  text-transform: uppercase;
  padding-top: 1rem;
}

.menu-container.hidden {
  display: none;
}

menu {
  padding: 0;
  margin: 0;
}

menu.bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: var(--yellow);
  padding: 1.25rem;
}

menu.bottom ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

menu.bottom .ats-button.active {
  border-color: black;
}

.column {
  max-width: 519px;
  padding: 0 0.5em;
  /* justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex; */
  margin: 6rem auto;
  padding-bottom: 6rem;
}

.column.large {
  max-width: 855px;
}

.column h2 {
  font-style: italic;
  margin-bottom: 1em;
}

.sound-icon {
  font-size: 0.85rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.slash {
  border-top: 1px solid var(--black);
  width: 1rem;
  transform: rotate(45deg);
  position: absolute;
  left: -1rem;
  top: 0.25rem;
  height: 1.75rem;
  width: 1.75rem;
}

h2.name {
  font-style: italic;
}

h2.star-title {
  text-align: center;
  padding-top: 3rem;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
}

a.underline {
  text-decoration: underline;;
}

.ats-button {
  padding: 6px 16px;
  border: 1px solid var(--light-grey);
  border-radius: 20px;
  border-radius: 12px;
  transition: 0.25s border ease;
  display: inline-block;
}

.ats-button:hover,
.ats-button.current {
  border-color: black;
}

.ats-button.listen {
  background: var(--black);
  color: var(--yellow);
  border-color: var(--black);
}

.ats-button-large {
  border: 1px solid rgba(0,0,0,0.25);
  height: 12em;
  width: 12em;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--black);
  transition: 0.25s border ease;
  position: relative;
}

.ats-button-large:hover {
  border-color: var(--black);
}

p a {
  text-decoration: underline;
}

p a.ats-button {
  text-decoration: none;
}

/* NAV */

nav#lateral .next-container,
nav#lateral .prev-container {
  position: fixed;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav#lateral .next-container {
  right: calc(50vw - 500px);
}

nav#lateral .prev-container {
  left: calc(50vw - 500px);
}

a.next,
a.prev {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid var(--light-grey);
  height: 5em;
  width: 5em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav#sound-toggle {
  position: fixed;
  z-index: 3;
  bottom: 1.25rem;
  left: 1.25rem;
  font-size: 0.85em;
  text-align: center;
}

nav#sound-toggle button {
  background: transparent;
  cursor: pointer;
  font-size: 1em;
}

nav#sound-toggle button .sound-icon {
  background: transparent;
  cursor: pointer;
  font-size: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav#sound-toggle button .slash {
  display: none;
}

nav#sound-toggle button.muted .slash {
  display: block;
}

.ats-button.sound {
  border-radius: 50%;
  /* border-radius: 12px; */
  height: 1.9rem;
  width: 1.9rem;
  display: inline-block;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collapsed {
  display: none;
}

.collapsed.uncollapsed {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-activator a {
  cursor: pointer;
}

.fade-up:before {
  content: "";
  position: absolute;
  display: block;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 50px;
  width: auto;
  background-image: linear-gradient(to bottom, rgba(255, 255, 195, 0), rgba(255, 255, 195, 1));
  /* background: lime; */
}

.fade-down:before {
  content: "";
  position: absolute;
  display: block;
  top: 3.25em;
  width: auto;
  left: 0;
  right: 0;
  height: 50px;
  background-image: linear-gradient(to top, rgba(255, 255, 195, 0), rgba(255, 255, 195, 1));
  /* background: lime; */
}

/* PLACEHOLDER STARS */

.star-title-container {
  position: relative;
  z-index: 0;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleY(0.66)
}

.stars .star {
  width: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
}

.stars .star:nth-child(1) {
  transform: translate(-50%, -50%) rotate(0deg) translate(0, -100px) rotate(0deg) scaleY(1.5);
}
.stars .star:nth-child(2) {
  transform: translate(-50%, -50%) rotate(25deg) translate(0, -100px) rotate(-25deg) scaleY(1.5);
}
.stars .star:nth-child(3) {
  transform: translate(-50%, -50%) rotate(55deg) translate(0, -100px) rotate(-55deg) scaleY(1.5);
}
.stars .star:nth-child(4) {
  transform: translate(-50%, -50%) rotate(90deg) translate(0, -100px) rotate(-90deg) scaleY(1.5);
}
.stars .star:nth-child(5) {
  transform: translate(-50%, -50%) rotate(125deg) translate(0, -100px) rotate(-125deg) scaleY(1.5);
}
.stars .star:nth-child(6) {
  transform: translate(-50%, -50%) rotate(155deg) translate(0, -100px) rotate(-155deg) scaleY(1.5);
}
.stars .star:nth-child(7) {
  transform: translate(-50%, -50%) rotate(180deg) translate(0, -100px) rotate(-180deg) scaleY(1.5);
}
.stars .star:nth-child(8) {
  transform: translate(-50%, -50%) rotate(205deg) translate(0, -100px) rotate(-205deg) scaleY(1.5);
}
.stars .star:nth-child(9) {
  transform: translate(-50%, -50%) rotate(230deg) translate(0, -100px) rotate(-230deg) scaleY(1.5);
}
.stars .star:nth-child(10) {
  transform: translate(-50%, -50%) rotate(270deg) translate(0, -100px) rotate(-270deg) scaleY(1.5);
}
.stars .star:nth-child(11) {
  transform: translate(-50%, -50%) rotate(305deg) translate(0, -100px) rotate(-305deg) scaleY(2);
}
.stars .star:nth-child(12) {
  transform: translate(-50%, -50%) rotate(335deg) translate(0, -100px) rotate(-335deg) scaleY(2);
}

hr {
  border: 0;
  margin: 2em 0;
  border-bottom: 1px solid var(--light-grey);
}

.text-xl {
  font-size: 2.5rem;
  line-height: 1.25;
}

.splash {
  color: var(--yellow);
}

/* SELFIES */

body.selfies {
  background: var(--grey);
}

body.selfies menu.bottom {
  background: var(--grey);
}

.selfies-index {
  background: var(--grey);
}

.open-filters-button {
  margin-bottom: 1em;
}

.open-filters-button h2 {
  margin: 0;
}

.filter-modal {
  display: none;
  background: var(--grey);
  z-index: 10;
}

.filter-modal.open {
  display: flex;
}

button.selfie-audio {
  background: black;
  color:rgba(255, 255, 195, 1);
  font-style: italic;
  border-radius: 12px;
  padding: 6px 16px;
}

audio#selfie,
audio#bg {
  display: none;
}

.selfie-list {
  padding-bottom: 9em;
}

.selfie-list-item {
  position: relative;
  margin-top: 0.333em;
}

.selfie-list-item.hidden {
  display: none;
}

.selfie-list-item .star {
  display: block;
  position: absolute;
  left: -1.5em;
  top: 50%;
  width: 1em;
  height: 1em;
  object-fit: contain;
  object-position: center;
  transform: translateY(-50%);
}

/* SPLASH */

/* main.normal {
  color: var(--black);
  background: var(--yellow);
}

main.normal a {
  color: var(--black);
}

main.splash {
  background: var(--black);
  color: var(--yellow);
}

main.splash a {
  color: var(--yellow);
} */

.splash,
.menu-container {
  height: 100vh;
}

.splash .menu-container {
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  margin-bottom: 1.25rem;
}

.splash menu {
  gap: 0.5rem;
  flex-shrink: 0;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.splash .star-scatter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.splash .star-scatter .star {
  position: absolute;
  width: 25px;
}

.splash .star-scatter .star:nth-child(1) {
  left: 15%;
  top: 15%;
}

.splash .star-scatter .star:nth-child(2) {
  right: 15%;
  bottom: 10%;
}

.splash .star-scatter .star:nth-child(3) {
  right: calc(15% + 15px);
  bottom: calc(10% - 35px);
}

.splash .star-scatter .star:nth-child(4) {
  right: calc(15% + 55px);
  bottom: calc(10% - 60px);
}

.splash .star-scatter .star:nth-child(5) {
  right: calc(15% + 95px);
  bottom: calc(10% - 45px);
}

/* ESSAYS */

ul.essays li {
  margin-bottom: 1em;
}

.essay-title {
  font-size: 2.5rem;
  line-height: 1.25;
  text-align: center;
}

header.essay {
  margin: 5.5rem 0 3rem;
  text-align: center;
}

header.essay h2 {
  padding: 3rem 0.5rem;
}

.star {
  margin-bottom: 1em;
}

.column.large.essay {
  margin-top: 0;
}

/* audio temporary */

#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 33;
}

/* mobile */

.mobile-menu-container {
  text-align: center;
}

#mobile-ats-menu {
  display: none;
  cursor: pointer;
}

.ats-button.close-menu {
  display: none;
}

@media screen and (max-width: 1045px) {

  html {
    font-size: 18px;
  }

  menu#ats-menu {
    display: none;
  }

  menu#ats-menu.mobile-open {
    display: block;
  }

  #mobile-ats-menu,
  .ats-button.close-menu {
    display: inline-block;
    cursor: pointer;
  }

  #mobile-ats-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 1.25rem;
    padding-top: 1rem;
    background: var(--yellow);
  }
  
  /* #ats-menu {
    display: none;
  } */

  menu.bottom ul {
    display: block;
  }

  menu.bottom ul li {
    display: inline-block;
    margin-top: 0.25rem;
  }

  .column {
    padding-bottom: 0;
    margin-bottom: 1.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  /* #lateral {
    padding-bottom: 6rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    max-width: 519px;
    margin: 0 auto;
    padding: 0 0.5rem 6rem;
  } */

	nav#lateral .next-container,
  nav#lateral .prev-container {
    position: fixed;
    z-index: 500;
  }

  nav#lateral .next-container {
    top: 0.5rem;
    right: 0.5rem;
    bottom: auto;
  }

  nav#lateral .prev-container {
    top: 0.5rem;
    left: 0.5rem;
    bottom: auto;
  }

  a.next,
  a.prev {
    height: 1.9rem;
    width: 1.9rem;
    display: inline-block;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85em;
    border: 0;
  }

  #sound-toggle {
    display: none;
  }

}