---
site_title: Alt Text Selfies
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="x-base-url" content="{{ site.url }}"/>
        <title>{{ site_title }} | {{ title }}</title>
        <link rel="icon" href="{{site.url}}/assets/images/star12.svg" type="image/x-icon" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/assets/images/star12.svg">
        <meta property="og:image" content="{{site.url}}/assets/images/alttextselfies-alt-alt.png">
        <meta property="og:image:alt" content="The title “Alt Text Selfies” in black serif text, centered over a light yellow background. Several black hand drawn asterisks are sprinkled across the image.">
        <meta property="og:description" content="An alt text selfie is any written self-portrait. This project takes a well-known practice—the selfie—and approaches it through a disability lens.">
        <link rel="stylesheet" href="/assets/css/tailwind.css?333">
        <link rel="stylesheet" href="/assets/css/index.css?333">
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        {# Vue used for sort and filtering on Selfies page #}
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="{{ site.url }}/assets/js/code.jquery.com_jquery-3.7.0.min.js"></script>
    </head>
    <body>
        <main class="{{ main_class }}">
            <header class="title">
                <h1>
                    <a href="{{ site.url }}/welcome">{{ site_title }}</a>
                </h1>
            </header>

            {{ content | safe }}
        </main>

        {% include "layouts/menu.njk" %}

        <audio id="bg" loop src="{{ site.url }}/assets/alt_text_selfies.mp3" controls>
            Your browser does not support the audio element.
        </audio>

        <script src="{{ site.url }}/assets/js/mini-spa.js"></script>
        <script src="{{ site.url }}/assets/js/index.js"></script>
    </body>
</html>