---
layout: layouts/base.njk
---

<header class="essay">
    <h2 class="essay-title">{{ title }}</h2>
    <i>{{ author }}</i>
</header>

<div class="column large">

    <p> {{ content | safe }}</p>

</div>