---
layout: layouts/base.njk
---

<div class="column large">

    <h2>Essays</h2>

    {{ content | safe }}

    <ul>
        {% for essay in essays_list %}
            <li>
                <a class="underline" href="{{ site.url }}{{ essay.url | url }}">{{ essay.data.title }}</a><br>
                {{ essay.data.author }}
            </li>
        {% endfor %}
    </ul>

</div>