<div class="column large">

<h2 class="stars">Essays</h2>
<p>
    We are excited to share two essays connected to this project and a note from each of us about the process of working on this project.
</p>
<ul>
    {% for essay in essays_list %}
        <li>
            <a class="underline" href="{{ site.url }}{{ essay.url | url }}">{{ essay.data.title }}</a><br>
            {{ essay.data.author }}
        </li>
    {% endfor %}
</ul>
</div>

{% include "layouts/menu.njk" %}