---
layout: layouts/base.njk
---

<header class="essay">
    <h2 class="essay-title">{{ title }}</h2>
    <span class="stars-animating"><img class="star small" src="/assets/images/star22.svg"/></span><div style="height: 0.75em;"></div>
    <i>{{ author }}</i>
</header>

<div class="column large">

    <div class="content"> {{ content | safe }}</div>

</div>