<div class="menus">
  <div class="mobile-menu-container">
      <div id="mobile-ats-menu" class="fade-up">
          <a class="ats-button toggle-link">Menu</a>
      </div>
  </div>
      
  <menu id="ats-menu" class="bottom fade-up">
      <ul>
          <li><a class="ats-button welcome" href="{{ site.url }}/welcome/">Welcome</a></li>
          <li><a class="ats-button selfies" href="{{ site.url }}/selfies/">Selfies</a></li>
          <li><a class="ats-button book" href="{{ site.url }}/book/">Book</a></li>
          <li><a class="ats-button about" href="{{ site.url }}/about/">About</a></li>
          <li><a class="ats-button links" href="{{ site.url }}/links/">Links</a></li>
          <li><a class="ats-button essays" href="{{ site.url }}/essays/">Essays</a></li>
          <li><a class="ats-button close-menu">Close</a></li>
      </ul>
  </menu>

  <nav id="sound-toggle">
      <button class="sound ats-button muted">
          <span class="sound-icon">
              <div class="slash"></div>
              ♫
          </span>
      </button>
  </nav>
</div>