{% set randomSelfie = collections.selfies | random %}

<nav id="lateral">
    <div class="next-container">
        <a href="{{ site.url }}{{ randomSelfie.url }}" class="next ats-button">→</a>
    </div>
</nav>