<menu id="ats-menu" class="bottom fade-up">
    <ul>
        <li><a class="ats-button welcome" href="{{ site.url }}/welcome">Welcome</a></li>
        <li><a class="ats-button selfies" href="{{ site.url }}/selfies">Selfies</a></li>
        <li><a class="ats-button book" href="{{ site.url }}/book">Book</a></li>
        <li><a class="ats-button about" href="{{ site.url }}/about">About</a></li>
        <li><a class="ats-button links" href="{{ site.url }}/links">Links</a></li>
        <li><a class="ats-button essays" href="{{ site.url }}/essays">Essays</a></li>
    </ul>
</menu>

<nav id="sound-toggle">
    <button class="sound ats-button">
        ♫
    </button>
</nav>