---
layout: layouts/base.njk
---

<div class="column large">
    <div class="star-title-container">
        <h2 class="star-title">{{ title }}</h2>
        <div role="img" class="stars random-stars" aria-label="the title, surrounded in sparkles">
            <img alt="" class="star" src="{{site.url}}/assets/images/star01.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star02.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star03.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star04.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star05.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star06.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star07.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star08.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star09.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star10.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star11.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star12.svg"/>
        </div>
    </div>
    <div class="content">
        {{ content | safe }}
    </div>
</div>