<ul>
    {% for post in posts_list %}
        <li>
            <a href="{{ site.url }}{{ post.url | url }}">{{ post.data.title }}</a>
        </li>
        <span>
            <i>{{ post.data.description }}</i>
        </span>
    {% endfor %}
</ul>