<div class="column">
    <div class="star-title-container">
        <h2 class="star-title">Selfies</h2>
        <div class="stars stars-animating" aria-label="the title, surrounded in sparkles">
            <img class="star" src="{{site.url}}/assets/images/star01.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star02.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star03.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star04.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star05.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star06.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star07.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star08.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star09.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star10.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star11.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star12.svg"/>
        </div>
    </div>
    <div id="filter-snippet">
        <!-- TODO: When modal is open, underlying page elements (behind the modal) should be hidden from screen-reader using aria-hidden -->
        <button class="open-filters-button" v-on:click="openFilterModal">
            <h2 class="underline shrink-0">
                {# Using "verbatim" to let these double curly brackets pass through nunjucks, so that Vue can parse it in the browser #}
                {% verbatim %}{{ filterText }}{% endverbatim %}
            </h2>
            <span class="ats-button">Change</span>
        </button>

        <menu class="filter-modal w-full h-full fixed inset-0 justify-center items-center leading-6" v-bind:class="{open: filterModalIsOpen}">
            <button class="close-filters-button ats-button absolute top-4 left-4" v-on:click="closeFilterModal">Close</button>
            <div class="text-center flex flex-col items-center gap-4">
            <div class="ats__sorting-options flex flex-col items-center">
                <div aria-label="three cascading sparkles" class="flex justify-center items-start">
                    <img class="w-[23px]" src="{{site.url}}/assets/images/star01.svg"/>
                    <img class="w-[30px] mt-[20px]" src="{{site.url}}/assets/images/star02.svg"/>
                    <img class="w-[32px] mt-[60px]" src="{{site.url}}/assets/images/star03.svg"/>
                </div>
                <h3 class="italic mt-2" id="sort-label" role="label">Sort</h3>
                <div role="listbox" aria-labelledby="sort-label" class="flex flex-col items-center">
                    <button class="hover:underline" v-bind:class="{underline: newSort === 'abc'}" v-on:click="applySort('abc')" role="option" :aria-selected="newSort === 'abc'">By ABC</button>
                    <button class="hover:underline" v-bind:class="{underline: newSort === 'length'}" v-on:click="applySort('length')" role="option" :aria-selected="newSort === 'length'">By Length</button>
                    <button class="hover:underline" v-bind:class="{underline: !newSort || newSort === 'random'}" v-on:click="applySort('random')" role="option" :aria-selected="!newSort || newSort === 'random'">By Random</button>
                </div>
            </div>
            <div class="ats__filtering-options flex flex-col items-center">
                <div aria-label="three sparkles in a row, the center one rising" class="flex justify-center items-end">
                    <img class="w-[23px]" src="{{site.url}}/assets/images/star01.svg"/>
                    <img class="w-[30px] mb-[20px]" src="{{site.url}}/assets/images/star02.svg"/>
                    <img class="w-[32px]" src="{{site.url}}/assets/images/star03.svg"/>
                </div>
                <h3 class="italic mt-2" id="filter-label" role="label">Filter</h3>
                <div role="listbox" aria-labelledby="sort-label" class="flex flex-col items-center">
                    <button class="hover:underline" v-bind:class="{underline: !newFilter}" v-on:click="applyFilter()" role="option" :aria-selected="!newFilter">All selfies</button>
                    <button class="hover:underline" v-bind:class="{underline: newFilter === 'chapbook'}" v-on:click="applyFilter('chapbook')" role="option" :aria-selected="newFilter === 'chapbook'">Only those in the chapbook</button>
                    <button class="hover:underline" v-bind:class="{underline: newFilter === 'audio'}" v-on:click="applyFilter('audio')" role="option" :aria-selected="newFilter === 'audio'">Only those with audio</button>
                </div>
            </div>
            </div>
        </menu>
    </div>

    <ul class="selfie-list">
        {% for selfie in selfies_list %}
            <li
                class="selfie-list-item"
                {% if selfie.data['is-in-chapbook'] %}data-chapbook="true"{% endif %}
                {% if selfie.data['audio'] %}data-audio="true"{% endif %}
                data-length="{{ selfie.templateContent | length }}"
                data-title="{{ selfie.data.title }}"
            >
                <img alt="sparkle" class="star" src="{{ site.url }}/assets/images/star{{ ((loop.index) % 83 + 1).toString().padStart(2, '0') }}.svg"/>
                <a href="{{ site.url }}{{ selfie.url | url }}">{{ selfie.data.title }}</a>
            </li>
        {% endfor %}
    </ul>

</div>