<div class="column">
    <div class="star-title-container">
        <h2 class="star-title">Selfies</h2>
        <div role="img" class="stars stars-animating" aria-label="the title, surrounded in sparkles">
            <img alt="" class="star" src="{{site.url}}/assets/images/star01.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star02.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star03.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star04.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star05.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star06.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star07.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star08.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star09.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star10.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star11.svg"/>
            <img alt="" class="star" src="{{site.url}}/assets/images/star12.svg"/>
        </div>
    </div>
    <div id="filter-snippet">
        <!-- TODO: When modal is open, underlying page elements (behind the modal) should be hidden from screen-reader using aria-hidden -->
        <button id="open-filters-button" class="open-filters-button" v-on:click="openFilterModal" aria-controls="menu" ref="openFiltersButton">
            <h2 class="underline shrink-0">
                {# Using "verbatim" to let these double curly brackets pass through nunjucks, so that Vue can parse it in the browser #}
                {% verbatim %}{{ filterText }}{% endverbatim %}
            </h2>
            <span class="ats-button change">Change</span>
        </button>

        <menu id="menu" role="dialog" class="filter-modal w-full h-full fixed inset-0 justify-center items-center leading-6" v-bind:class="{open: filterModalIsOpen}" v-bind:aria-modal="[filterModalIsOpen]" ref="modal">
            <div class="text-center flex flex-col items-center gap-4">
            <div class="ats__sorting-options flex flex-col items-center">
                <div aria-label="three cascading sparkles" class="flex justify-center items-start">
                    <img class="w-[23px]" src="{{site.url}}/assets/images/star01.svg"/>
                    <img class="w-[30px] mt-[20px]" src="{{site.url}}/assets/images/star02.svg"/>
                    <img class="w-[32px] mt-[60px]" src="{{site.url}}/assets/images/star03.svg"/>
                </div>
                <fieldset class="flex flex-col items-center">
                    <legend class="self-center center italic mt-2">Sort</legend>
                    <label class="hover:underline" v-bind:class="{underline: newSort === 'abc'}">By ABC
                        <input type="radio" id="abc" name="sort" value="abc" :checked="newSort === 'abc'" v-on:click="applySort('abc')" >
                    </label>
                    <label class="hover:underline" v-bind:class="{underline: newSort === 'length'}">By Length
                        <input type="radio" id="length" name="sort" value="length" :checked="newSort === 'length'" v-on:click="applySort('length')">
                    </label>
                    <label class="hover:underline" v-bind:class="{underline: !newSort || newSort === 'random'}" >By Random
                        <input type="radio" id="random" name="sort" value="random" :checked="!newSort || newSort === 'random'" v-on:click="applySort('random')">
                    </label>
                </fieldset>
            </div>
            <div class="ats__filtering-options flex flex-col items-center">
                <div aria-label="three sparkles in a row, the center one rising" class="flex justify-center items-end">
                    <img class="w-[23px]" src="{{site.url}}/assets/images/star01.svg"/>
                    <img class="w-[30px] mb-[20px]" src="{{site.url}}/assets/images/star02.svg"/>
                    <img class="w-[32px]" src="{{site.url}}/assets/images/star03.svg"/>
                </div>
                <fieldset class="flex flex-col items-center">
                    <legend class="self-center center italic mt-2">Filter</legend>
                    <label class="hover:underline" v-bind:class="{underline: !newFilter}">
                        All selfies
                        <input type="radio" id="all" name="filter" value="all" :checked="!newFilter" v-on:click="applyFilter()" />
                    </label>
                    <label class="hover:underline" v-bind:class="{underline: newFilter === 'chapbook'}">
                        Only those in the chapbook
                        <input type="radio" id="chapbook" name="filter" value="chapbook" :checked="newFilter === 'chapbook'" v-on:click="applyFilter('chapbook')" />
                    </label>
                    <label class="hover:underline" v-bind:class="{underline: newFilter === 'audio'}" v-on:click="applyFilter('audio')">
                        Only those with audio
                        <input type="radio" id="audio" name="filter" value="audio" :checked="newFilter === 'audio'" v-on:click="applyFilter('audio')" />
                    </label>
                </fieldset>
            </div>
            </div>
            <button class="close-filters-button ats-button absolute top-4 left-4" v-on:click="closeFilterModal">Close</button>
        </menu>
    </div>

    <ul class="selfie-list">
        {% for selfie in selfies_list %}
            <li
                class="selfie-list-item"
                {% if selfie.data['is-in-chapbook'] %}data-chapbook="true"{% endif %}
                {% if selfie.data['audio'] %}data-audio="true"{% endif %}
                data-length="{{ selfie.templateContent | length }}"
                data-title="{{ selfie.data.title }}"
            >
                <img alt="sparkle" class="star" src="{{ site.url }}/assets/images/star{{ (selfie.data.order % 83 + 1).toString().padStart(2, '0') }}.svg"/>
                <a href="{{ site.url }}{{ selfie.url | url }}">{{ selfie.data.title }}</a>
            </li>
        {% endfor %}
    </ul>

</div>