---
layout: layouts/base.njk
---

<div class="column">

    <h2>{{ title }}</h2>

    {% if audio %}
    <button class="selfie-audio">Listen</button>
    <audio id="selfie" src="{{ site.url }}/assets/sounds/{{ audio }}" controls preload>
        Your browser does not support the audio element.
    </audio>
    {% endif %}

    <p> {{ content | safe }}</p>

</div>

{% include "layouts/menu_lateral.njk" %}

{% include "layouts/menu.njk" %}