---
layout: layouts/base.njk
---

<div class="column">
    <div class="content">
      <div class="star-title-container">
        <h2 class="star-title">Welcome</h2>
        <div class="stars stars-animating" aria-label="the title, surrounded in sparkles">
            <img class="star" src="{{site.url}}/assets/images/star01.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star02.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star03.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star04.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star05.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star06.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star07.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star08.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star09.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star10.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star11.svg"/>
            <img class="star" src="{{site.url}}/assets/images/star12.svg"/>
        </div>
    </div>
      {# <h2 class="big">Welcome!</h2> #}
        {{ content | safe }}
    </div>
</div>